@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainGreen: #6CB04C;
}

.mainGreenText{
  color: var(--mainGreen);
}

.mainGreenBackground{
  background-color: var(--mainGreen);
}

// ----- ABOUT US PAGE ----
#aboutusFrontpage{
	// For at få "\n" til at fungerer i aboutus-admin
	white-space: pre-wrap;
}

// ----- REVIEW PAGE -----
.reviewBackground{
	background-image: url("/images/udtalelser-bg.jpg");
	// filter: ;
	box-shadow: inset 0 0 0 2000px #6cb04cc4;
	background-position: center center;
	background-size: cover;
	height: 100vh;
}

/* ----- SLIDER ------ */

.carouselContainer{
	position: relative;
	overflow: hidden;
}

.carousel-slide {
	width: 100%;
	height: 100%;
	position: absolute; 
  
	--from: 0%;
	--to: 100%;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
  }
  
  @keyframes next {
	from {
	  left: var(--from);
	}
  
	to {
	  left: 0;
	}
  }
  
  @keyframes prev {
	from {
	  left: 0;
	}
  
	to {
	  left: var(--to);
	}
  }
  
  
  
